* {
    margin: 0;
    padding: 0;
}

p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

header, main, footer, nav, aside, section, div  {
    display: block;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#wrapper h1, 
#wrapper h2 {
    text-align: center;
}

#content {
    display: flex;
}


#users-list,
#users-operations {
    width: 50%;
    display: block;
    position: relative;
}

#users-operations > #buttons {
    display: flex;
    justify-content: space-around;
}

#users-operations button {
    width: 80px;
}

#operations,
#operation-result {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#operations, 
#operation-result {
    display: none;
}

input {
    font-family: Helvetica, sans-serif !important;
}

#filters input {
    float: right !important;
}

#filters{
    margin-left: 32%;
    width: 250px;
}

#button-show-all{
    position: absolute;
    width: 100px;
    left: 50%;
    margin: 0 0 0 -50px;
}

